In [595]:
import pandas as pd
import numpy as np
import calendar

In [596]:
df = pd.read_csv('Retail Canada.csv')
df.head(10)

,REF_DATE,GEO,DGUID,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,12.66,NaN,NaN,NaN,2
1,2017-01,Canada,2016A000011124,"Beef striploin cuts, per kilogram",Dollars,81,units,0,v1353834272,11.20,21.94,NaN,NaN,NaN,2
2,2017-01,Canada,2016A000011124,"Beef top sirloin cuts, per kilogram",Dollars,81,units,0,v1353834273,11.30,13.44,NaN,NaN,NaN,2
3,2017-01,Canada,2016A000011124,"Beef rib cuts, per kilogram",Dollars,81,units,0,v1353834311,11.41,20.17,NaN,NaN,NaN,2
4,2017-01,Canada,2016A000011124,"Ground beef, per kilogram",Dollars,81,units,0,v1353834274,11.40,9.12,NaN,NaN,NaN,2
5,2017-01,Canada,2016A000011124,"Pork loin cuts, per kilogram",Dollars,81,units,0,v1353834275,11.50,7.34,NaN,NaN,NaN,2
6,2017-01,Canada,2016A000011124,"Pork rib cuts, per kilogram",Dollars,81,units,0,v1353834276,11.60,7.37,NaN,NaN,NaN,2
7,2017-01,Canada,2016A000011124,"Pork shoulder cuts, per kilogram",Dollars,81,units,0,v1353834312,11.42,4.76,NaN,NaN,NaN,2
8,2017-01,Canada,2016A000011124,"Whole chicken, per kilogram",Dollars,81,units,0,v1353834277,11.70,5.15,NaN,NaN,NaN,2
9,2017-01,Canada,2016A000011124,"Chicken breasts, per kilogram",Dollars,81,units,0,v1353834278,11.80,11.38,NaN,NaN,NaN,2

In [597]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Products', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [598]:
df = df[['REF_DATE', 'GEO', 'Products', 'VALUE','UOM' ]]
df.head(10)

  REF_DATE     GEO                             Products  VALUE      UOM
0  2017-01  Canada      Beef stewing cuts, per kilogram  12.66  Dollars
1  2017-01  Canada    Beef striploin cuts, per kilogram  21.94  Dollars
2  2017-01  Canada  Beef top sirloin cuts, per kilogram  13.44  Dollars
3  2017-01  Canada          Beef rib cuts, per kilogram  20.17  Dollars
4  2017-01  Canada            Ground beef, per kilogram   9.12  Dollars
5  2017-01  Canada         Pork loin cuts, per kilogram   7.34  Dollars
6  2017-01  Canada          Pork rib cuts, per kilogram   7.37  Dollars
7  2017-01  Canada     Pork shoulder cuts, per kilogram   4.76  Dollars
8  2017-01  Canada          Whole chicken, per kilogram   5.15  Dollars
9  2017-01  Canada        Chicken breasts, per kilogram  11.38  Dollars

In [599]:
df.isnull().values.any()

False

In [600]:
df= df.rename(columns = {'GEO' : 'Location'})
df.dtypes

REF_DATE     object
Location     object
Products     object
VALUE       float64
UOM          object
dtype: object

In [601]:
df['Products Name'] = df['Products'].astype('string').str.split(',').str[0]

df['Amount'] = df['Products'].astype('string').str.split(',').str[1]

df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount
73582,2022-01,Alberta,"Romaine lettuce, unit",2.88,Dollars,Romaine lettuce,unit
1513,2017-02,Prince Edward Island,"Baby food, 128 millilitres",1.30,Dollars,Baby food,128 millilitres
79966,2022-07,Newfoundland and Labrador,"Frozen peas, 750 grams",3.27,Dollars,Frozen peas,750 grams
52370,2020-08,Nova Scotia,"Broccoli, unit",2.42,Dollars,Broccoli,unit
82990,2022-09,Manitoba,"Chicken breasts, per kilogram",15.23,Dollars,Chicken breasts,per kilogram
56363,2020-11,Ontario,"Canned tomatoes, 796 millilitres",1.39,Dollars,Canned tomatoes,796 millilitres
94816,2023-07,New Brunswick,"Wheat flour, 2.5 kilograms",6.29,Dollars,Wheat flour,2.5 kilograms
46190,2020-03,Prince Edward Island,"Eggs, 1 dozen",3.43,Dollars,Eggs,1 dozen
57948,2020-12,British Columbia,"Margarine, 907 grams",4.32,Dollars,Margarine,907 grams
40885,2019-10,Saskatchewan,"Laundry detergent, 4.43 litres",13.81,Dollars,Laundry detergent,4.43 litres

In [602]:
df['Quantity'] = df['Amount'].astype('string').str.replace('per', '1')
df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity
77066,2022-04,Saskatchewan,"Milk, 2 litres",4.55,Dollars,Milk,2 litres,2 litres
97325,2023-09,Quebec,"Squash, per kilogram",3.47,Dollars,Squash,per kilogram,1 kilogram
61593,2021-03,British Columbia,"Tomatoes, per kilogram",5.10,Dollars,Tomatoes,per kilogram,1 kilogram
81017,2022-08,Canada,"Salmon, per kilogram",26.61,Dollars,Salmon,per kilogram,1 kilogram
36352,2019-07,Canada,"Vegetable oil, 3 litres",5.94,Dollars,Vegetable oil,3 litres,3 litres
6436,2017-06,Nova Scotia,"Frozen mixed vegetables, 750 grams",3.43,Dollars,Frozen mixed vegetables,750 grams,750 grams
65014,2021-06,Saskatchewan,"Frozen french fried potatoes, 750 grams",2.19,Dollars,Frozen french fried potatoes,750 grams,750 grams
43610,2020-01,Canada,"Infant formula, 900 grams",29.20,Dollars,Infant formula,900 grams,900 grams
71648,2021-12,Prince Edward Island,"Tofu, 350 grams",2.44,Dollars,Tofu,350 grams,350 grams
38460,2019-08,Saskatchewan,"Salad dressing, 475 millilitres",2.48,Dollars,Salad dressing,475 millilitres,475 millilitres

In [603]:
df['Year'] = df['REF_DATE'].astype('string').str.split('-').str[0]
df['Month'] = df['REF_DATE'].astype('string').str.split('-').str[1]
df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity,Year,Month
83764,2022-10,Nova Scotia,"Salmon, per kilogram",23.99,Dollars,Salmon,per kilogram,1 kilogram,2022,10
72302,2021-12,Saskatchewan,"Canned beans and lentils, 540 millilitres",1.32,Dollars,Canned beans and lentils,540 millilitres,540 millilitres,2021,12
85048,2022-11,Nova Scotia,"Canned baked beans, 398 millilitres",1.85,Dollars,Canned baked beans,398 millilitres,398 millilitres,2022,11
75386,2022-03,Nova Scotia,"Hummus, 227 grams",3.37,Dollars,Hummus,227 grams,227 grams,2022,03
1443,2017-02,Prince Edward Island,"Shrimp, 300 grams",6.19,Dollars,Shrimp,300 grams,300 grams,2017,02
34869,2019-05,Alberta,"Yogurt, 500 grams",2.83,Dollars,Yogurt,500 grams,500 grams,2019,05
94940,2023-07,Quebec,"Canned baked beans, 398 millilitres",1.33,Dollars,Canned baked beans,398 millilitres,398 millilitres,2023,07
3342,2017-03,Saskatchewan,"Cabbage, per kilogram",1.93,Dollars,Cabbage,per kilogram,1 kilogram,2017,03
49661,2020-06,Canada,"Canned beans and lentils, 540 millilitres",1.34,Dollars,Canned beans and lentils,540 millilitres,540 millilitres,2020,06
128,2017-01,Newfoundland and Labrador,"Meatless burgers, 226 grams",3.91,Dollars,Meatless burgers,226 grams,226 grams,2017,01

In [604]:
df_check = df.loc[df['Products Name']=='Milk']
df_check.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity,Year,Month
56294,2020-11,Ontario,"Milk, 4 litres",4.96,Dollars,Milk,4 litres,4 litres,2020,11
69151,2021-10,Prince Edward Island,"Milk, 1 litre",2.45,Dollars,Milk,1 litre,1 litre,2021,10
51677,2020-07,Saskatchewan,"Milk, 2 litres",4.20,Dollars,Milk,2 litres,2 litres,2020,07
88496,2023-02,Prince Edward Island,"Milk, 2 litres",4.48,Dollars,Milk,2 litres,2 litres,2023,02
80252,2022-07,New Brunswick,"Milk, 1 litre",2.53,Dollars,Milk,1 litre,1 litre,2022,07
103553,2024-02,Manitoba,"Milk, 1 litre",1.99,Dollars,Milk,1 litre,1 litre,2024,02
20353,2018-05,Alberta,"Milk, 2 litres",3.93,Dollars,Milk,2 litres,2 litres,2018,05
79703,2022-06,British Columbia,"Milk, 1 litre",2.76,Dollars,Milk,1 litre,1 litre,2022,06
66516,2021-08,Canada,"Milk, 4 litres",5.49,Dollars,Milk,4 litres,4 litres,2021,08
240,2017-01,Prince Edward Island,"Milk, 4 litres",7.32,Dollars,Milk,4 litres,4 litres,2017,01

In [605]:
df['Month'] = df['Month'].astype(int).apply(lambda x: calendar.month_abbr[x])

In [606]:
df.dtypes

REF_DATE                 object
Location                 object
Products                 object
VALUE                   float64
UOM                      object
Products Name            object
Amount                   object
Quantity         string[python]
Year                     object
Month                    object
dtype: object

In [607]:
unique_products = df['Products Name'].unique()
print(unique_products)
print(len(unique_products))

['Beef stewing cuts' 'Beef striploin cuts' 'Beef top sirloin cuts'
 'Beef rib cuts' 'Ground beef' 'Pork loin cuts' 'Pork rib cuts'
 'Pork shoulder cuts' 'Whole chicken' 'Chicken breasts' 'Chicken thigh'
 'Chicken drumsticks' 'Bacon' 'Wieners' 'Salmon' 'Shrimp' 'Canned salmon'
 'Canned tuna' 'Meatless burgers' 'Milk' 'Soy milk' 'Nut milk' 'Cream'
 'Butter' 'Margarine' 'Block cheese' 'Yogurt' 'Eggs' 'Apples' 'Oranges'
 'Bananas' 'Pears' 'Lemons' 'Limes' 'Grapes' 'Cantaloupe' 'Strawberries'
 'Avocado' 'Potatoes' 'Sweet potatoes' 'Tomatoes' 'Cabbage' 'Carrots'
 'Onions' 'Celery' 'Cucumber' 'Mushrooms' 'Iceberg lettuce'
 'Romaine lettuce' 'Broccoli' 'Peppers' 'Squash' 'Salad greens'
 'Frozen french fried potatoes' 'Frozen green beans' 'Frozen broccoli'
 'Frozen corn' 'Frozen mixed vegetables' 'Frozen peas' 'Frozen pizza'
 'Frozen spinach' 'Frozen strawberries' 'White bread' 'Flatbread and pita'
 'Crackers and crisp breads' 'Cookies and sweet biscuits'
 'Dry or fresh pasta' 'Brown rice' 'White rice' 'Cereal' 'Wheat flour'
 'White sugar' 'Apple juice' 'Orange juice' 'Roasted or ground coffee'
 'Tea (20 bags)' 'Ketchup' 'Vegetable oil' 'Canola oil' 'Olive oil'
 'Baby food' 'Infant formula' 'Peanut butter' 'Mayonnaise'
 'Canned baked beans' 'Canned tomatoes' 'Canned soup'
 'Canned beans and lentils' 'Canned corn' 'Canned peach' 'Canned pear'
 'Dried lentils' 'Dry beans and legumes' 'Tofu' 'Hummus' 'Salsa'
 'Pasta sauce' 'Salad dressing' 'Almonds' 'Peanuts' 'Sunflower seeds'
 'Deodorant' 'Toothpaste' 'Shampoo' 'Laundry detergent']
105

In [608]:
# define conditions
conditions =[
df['Products Name'].isin(['Beef stewing cuts' ,'Beef striploin cuts' ,'Beef top sirloin cuts',
 'Beef rib cuts', 'Ground beef' ,'Pork loin cuts', 'Pork rib cuts',
 'Pork shoulder cuts' ,'Whole chicken', 'Chicken breasts', 'Chicken thigh',
 'Chicken drumsticks', 'Bacon' ,'Wieners', 'Salmon' ,'Shrimp' ,'Canned salmon',
 'Canned tuna' ,'Meatless burgers']) ,

df['Products Name'].isin(['Milk' ,'Soy milk' ,'Nut milk' ,'Cream',
 'Butter', 'Margarine', 'Block cheese' ,'Yogurt', 'Eggs']),

df['Products Name'].isin(['Apples' ,'Oranges',
 'Bananas' ,'Pears', 'Lemons', 'Limes', 'Grapes' ,'Cantaloupe', 'Strawberries',
 'Avocado', 'Potatoes', 'Sweet potatoes', 'Tomatoes', 'Cabbage' ,'Carrots',
 'Onions' ,'Celery' ,'Cucumber', 'Mushrooms', 'Iceberg lettuce',
 'Romaine lettuce', 'Broccoli', 'Peppers' ,'Squash', 'Salad greens',
 'Frozen french fried potatoes', 'Frozen green beans', 'Frozen broccoli',
 'Frozen corn' ,'Frozen mixed vegetables', 'Frozen peas' ,'Frozen pizza',
 'Frozen spinach', 'Frozen strawberries' ]),

df['Products Name'].isin(['White bread','Flatbread and pita',
 'Crackers and crisp breads', 'Cookies and sweet biscuits',
 'Dry or fresh pasta', 'Brown rice' ,'White rice' ,'Cereal' ,'Wheat flour',
 'White sugar' ,'Apple juice' ,'Orange juice', 'Roasted or ground coffee',
 'Tea (20 bags)', 'Ketchup', 'Vegetable oil' ,'Canola oil' ,'Olive oil',
 'Peanut butter', 'Mayonnaise','Canned baked beans' ,'Canned tomatoes', 'Canned soup',
 'Canned beans and lentils', 'Canned corn' ,'Canned peach', 'Canned pear',
 'Dried lentils', 'Dry beans and legumes', 'Tofu', 'Hummus', 'Salsa',
 'Pasta sauce', 'Salad dressing', 'Almonds' ,'Peanuts' ,'Sunflower seeds']),

df['Products Name'].isin(['Deodorant', 'Toothpaste', 'Shampoo' ,'Laundry detergent','Baby food' , 'Infant formula'])

]

# define results
results = ['Meat & Seafood', 'Dairy & Eggs', 'Fruits & Vegetables','Pantry','Home,Beauty & Baby']

df['Category'] = np.select(conditions,results)

In [609]:
df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity,Year,Month,Category
87215,2023-01,Newfoundland and Labrador,"Frozen french fried potatoes, 750 grams",2.88,Dollars,Frozen french fried potatoes,750 grams,750 grams,2023,Jan,Fruits & Vegetables
68833,2021-09,British Columbia,"Apples, per kilogram",4.06,Dollars,Apples,per kilogram,1 kilogram,2021,Sep,Fruits & Vegetables
84203,2022-10,Manitoba,"Wieners, 400 grams",4.13,Dollars,Wieners,400 grams,400 grams,2022,Oct,Meat & Seafood
17928,2018-03,Alberta,"Wieners, 400 grams",3.72,Dollars,Wieners,400 grams,400 grams,2018,Mar,Meat & Seafood
49784,2020-06,Newfoundland and Labrador,"Deodorant, 85 grams",5.16,Dollars,Deodorant,85 grams,85 grams,2020,Jun,"Home,Beauty & Baby"
30759,2019-02,New Brunswick,"Canned pear, 398 millilitres",1.99,Dollars,Canned pear,398 millilitres,398 millilitres,2019,Feb,Pantry
27664,2018-11,Alberta,"Apple juice, 2 litres",2.98,Dollars,Apple juice,2 litres,2 litres,2018,Nov,Pantry
102047,2024-01,New Brunswick,"Iceberg lettuce, unit",3.15,Dollars,Iceberg lettuce,unit,unit,2024,Jan,Fruits & Vegetables
9421,2017-08,Saskatchewan,"Roasted or ground coffee, 340 grams",4.50,Dollars,Roasted or ground coffee,340 grams,340 grams,2017,Aug,Pantry
61610,2021-03,British Columbia,"Frozen corn, 750 grams",3.35,Dollars,Frozen corn,750 grams,750 grams,2021,Mar,Fruits & Vegetables

In [610]:
df.columns

Index(['REF_DATE', 'Location', 'Products', 'VALUE', 'UOM', 'Products Name',
       'Amount', 'Quantity', 'Year', 'Month', 'Category'],
      dtype='object')

In [611]:
df = df[['Year', 'Month','Location','Category','Products Name','Quantity','VALUE']]

In [612]:
df['Products Name'] = df['Products Name'].replace('Tea (20 bags)','Tea')
df['Quantity'] = df['Quantity'].fillna(' unit')

In [613]:
value = df['Quantity'].unique()
print(value)

<StringArray>
[      ' 1 kilogram',        ' 500 grams',        ' 400 grams',
        ' 300 grams',        ' 213 grams',        ' 170 grams',
        ' 226 grams',          ' 1 litre',         ' 2 litres',
         ' 4 litres',      ' 1.89 litres',        ' 454 grams',
        ' 907 grams',          ' 1 dozen',   ' 1.36 kilograms',
             ' unit',   ' 4.54 kilograms',        ' 227 grams',
        ' 142 grams',        ' 750 grams',       ' 750 grams ',
        ' 390 grams',        ' 600 grams',        ' 675 grams',
       ' 500 grams ',       ' 200 grams ',       ' 300 grams ',
       ' 900 grams ',      ' 2 kilograms',    ' 2.5 kilograms',
        ' 340 grams',         ' 3 litres',  ' 128 millilitres',
 ' 890 millilitres ',  ' 398 millilitres',  ' 796 millilitres',
  ' 284 millilitres',  ' 540 millilitres',  ' 341 millilitres',
        ' 900 grams',       ' 350 grams ',  ' 418 millilitres',
  ' 650 millilitres',  ' 475 millilitres',        ' 200 grams',
        ' 450 grams',       ' 400 grams ',         ' 85 grams',
  ' 100 millilitres',  ' 400 millilitres',      ' 4.43 litres']
Length: 51, dtype: string

In [614]:

df['Year'] = df['Year'].astype(int)
df.sample(10)

,Year,Month,Location,Category,Products Name,Quantity,VALUE
14593,2018,Jan,Canada,"Home,Beauty & Baby",Baby food,128 millilitres,1.27
36964,2019,Jul,Ontario,Fruits & Vegetables,Lemons,unit,0.70
80093,2022,Jul,Prince Edward Island,Pantry,Tea,unit,4.37
62999,2021,May,Newfoundland and Labrador,Dairy & Eggs,Soy milk,1.89 litres,4.05
2713,2017,Mar,Prince Edward Island,Pantry,White sugar,2 kilograms,2.24
46488,2020,Mar,New Brunswick,"Home,Beauty & Baby",Toothpaste,100 millilitres,3.38
6532,2017,Jun,New Brunswick,Fruits & Vegetables,Onions,1.36 kilograms,3.46
84351,2022,Oct,Saskatchewan,Fruits & Vegetables,Mushrooms,227 grams,2.78
81589,2022,Aug,Quebec,Fruits & Vegetables,Grapes,1 kilogram,5.22
40418,2019,Oct,New Brunswick,Pantry,Vegetable oil,3 litres,7.59

In [615]:
# Get the unique categories and locations in separate lists.
categories = df["Category"].unique()
Locations = df["Location"].unique()

print(categories)
print(Locations)
print(len(categories))
print(len(Locations))

['Meat & Seafood' 'Dairy & Eggs' 'Fruits & Vegetables' 'Pantry'
 'Home,Beauty & Baby']
['Canada' 'Newfoundland and Labrador' 'Prince Edward Island' 'Nova Scotia'
 'New Brunswick' 'Quebec' 'Ontario' 'Manitoba' 'Saskatchewan' 'Alberta'
 'British Columbia']
5
11

In [616]:
# Create numpy arrays from 1-6 for the categories and 1-12 for the locations
category_ids = np.arange(1, 6)
Locations_ids = np.arange(1, 12)
print(category_ids)
print(Locations_ids)

[1 2 3 4 5]
[ 1  2  3  4  5  6  7  8  9 10 11]

In [617]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ['cat' + str(each) for each in category_ids]
print(cat_ids)
# Use a list comprehension to add "subcat" to each subcategory_id.    
loc_ids = ['loc' + str(each) for each in Locations_ids]
print(loc_ids)

['cat1', 'cat2', 'cat3', 'cat4', 'cat5']
['loc1', 'loc2', 'loc3', 'loc4', 'loc5', 'loc6', 'loc7', 'loc8', 'loc9', 'loc10', 'loc11']

In [618]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({"category_id" : cat_ids , 'Category' : categories})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
Location_df = pd.DataFrame({"Location_id" : loc_ids , 'Location' : Locations})

In [619]:
category_df

  category_id             Category
0        cat1       Meat & Seafood
1        cat2         Dairy & Eggs
2        cat3  Fruits & Vegetables
3        cat4               Pantry
4        cat5   Home,Beauty & Baby

In [620]:
Location_df

   Location_id                   Location
0         loc1                     Canada
1         loc2  Newfoundland and Labrador
2         loc3       Prince Edward Island
3         loc4                Nova Scotia
4         loc5              New Brunswick
5         loc6                     Quebec
6         loc7                    Ontario
7         loc8                   Manitoba
8         loc9               Saskatchewan
9        loc10                    Alberta
10       loc11           British Columbia

In [621]:
# Export  as CSV files.
category_df.to_csv("category.csv", index=False)

Location_df.to_csv("Locations.csv", index=False)

In [622]:
merged_df = pd.merge(df,category_df, on = 'Category' , how = 'left')
merged_df = pd.merge(merged_df,Location_df, on = 'Location' , how = 'left')
merged_df.head(10)

,Year,Month,Location,Category,Products Name,Quantity,VALUE,category_id,Location_id
0,2017,Jan,Canada,Meat & Seafood,Beef stewing cuts,1 kilogram,12.66,cat1,loc1
1,2017,Jan,Canada,Meat & Seafood,Beef striploin cuts,1 kilogram,21.94,cat1,loc1
2,2017,Jan,Canada,Meat & Seafood,Beef top sirloin cuts,1 kilogram,13.44,cat1,loc1
3,2017,Jan,Canada,Meat & Seafood,Beef rib cuts,1 kilogram,20.17,cat1,loc1
4,2017,Jan,Canada,Meat & Seafood,Ground beef,1 kilogram,9.12,cat1,loc1
5,2017,Jan,Canada,Meat & Seafood,Pork loin cuts,1 kilogram,7.34,cat1,loc1
6,2017,Jan,Canada,Meat & Seafood,Pork rib cuts,1 kilogram,7.37,cat1,loc1
7,2017,Jan,Canada,Meat & Seafood,Pork shoulder cuts,1 kilogram,4.76,cat1,loc1
8,2017,Jan,Canada,Meat & Seafood,Whole chicken,1 kilogram,5.15,cat1,loc1
9,2017,Jan,Canada,Meat & Seafood,Chicken breasts,1 kilogram,11.38,cat1,loc1

In [623]:
merged_df.columns

Index(['Year', 'Month', 'Location', 'Category', 'Products Name', 'Quantity',
       'VALUE', 'category_id', 'Location_id'],
      dtype='object')

In [624]:
merged_df= merged_df[['Year', 'Month', 'Products Name', 'Quantity',
       'VALUE', 'category_id', 'Location_id']]

In [625]:
length_df = (len(merged_df))
print(length_df)

105183

In [626]:
# Create unique ids 
ID = np.arange(1, length_df + 1)
#primary_id = ['p_' + str(each) for each in ID]
#print(Rental_id)
merged_df["ID"] = ID

In [627]:
merged_df.columns

Index(['Year', 'Month', 'Products Name', 'Quantity', 'VALUE', 'category_id',
       'Location_id', 'ID'],
      dtype='object')

In [628]:

merged_df =merged_df[['ID','Year', 'Month', 'Products Name', 'Quantity', 'VALUE', 'category_id','Location_id']]
merged_df.sample(20)

,ID,Year,Month,Products Name,Quantity,VALUE,category_id,Location_id
32474,32475,2019,Mar,Mushrooms,227 grams,2.09,cat3,loc10
13737,13738,2017,Dec,Laundry detergent,4.43 litres,10.27,cat5,loc4
96391,96392,2023,Aug,Beef striploin cuts,1 kilogram,24.36,cat1,loc9
15333,15334,2018,Jan,Squash,1 kilogram,3.31,cat3,loc8
21497,21498,2018,Jun,Frozen spinach,300 grams,1.65,cat3,loc9
37501,37502,2019,Aug,Soy milk,1.89 litres,3.82,cat2,loc1
77819,77820,2022,May,Ground beef,1 kilogram,10.69,cat1,loc5
56376,56377,2020,Nov,Almonds,200 grams,3.96,cat4,loc7
11549,11550,2017,Oct,Chicken breasts,1 kilogram,11.80,cat1,loc7
18659,18660,2018,Apr,Baby food,128 millilitres,1.34,cat5,loc5
12066,12067,2017,Oct,Infant formula,900 grams,30.53,cat5,loc11
35754,35755,2019,Jun,Pears,1 kilogram,4.25,cat3,loc7
95817,95818,2023,Aug,Peanut butter,1 kilogram,6.32,cat4,loc3
77914,77915,2022,May,Hummus,227 grams,3.59,cat4,loc5
92104,92105,2023,May,Beef striploin cuts,1 kilogram,24.57,cat1,loc3
26645,26646,2018,Nov,Onions,1 kilogram,3.72,cat3,loc1
777,778,2017,Jan,Whole chicken,1 kilogram,5.49,cat1,loc8
43535,43536,2020,Jan,Chicken drumsticks,1 kilogram,5.93,cat1,loc1
70385,70386,2021,Nov,Tomatoes,1 kilogram,5.94,cat3,loc3
31188,31189,2019,Feb,Olive oil,1 litre,8.76,cat4,loc9

In [629]:
# Export the DataFrame as a CSV file. 
merged_df.to_csv("dataset.csv", index=False)