In [131]:
import pandas as pd
import numpy as np
import calendar

In [132]:
df = pd.read_csv('Retail Canada.csv')
df.head(10)

,REF_DATE,GEO,DGUID,Products,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2017-01,Canada,2016A000011124,"Beef stewing cuts, per kilogram",Dollars,81,units,0,v1353834271,11.10,12.66,NaN,NaN,NaN,2
1,2017-01,Canada,2016A000011124,"Beef striploin cuts, per kilogram",Dollars,81,units,0,v1353834272,11.20,21.94,NaN,NaN,NaN,2
2,2017-01,Canada,2016A000011124,"Beef top sirloin cuts, per kilogram",Dollars,81,units,0,v1353834273,11.30,13.44,NaN,NaN,NaN,2
3,2017-01,Canada,2016A000011124,"Beef rib cuts, per kilogram",Dollars,81,units,0,v1353834311,11.41,20.17,NaN,NaN,NaN,2
4,2017-01,Canada,2016A000011124,"Ground beef, per kilogram",Dollars,81,units,0,v1353834274,11.40,9.12,NaN,NaN,NaN,2
5,2017-01,Canada,2016A000011124,"Pork loin cuts, per kilogram",Dollars,81,units,0,v1353834275,11.50,7.34,NaN,NaN,NaN,2
6,2017-01,Canada,2016A000011124,"Pork rib cuts, per kilogram",Dollars,81,units,0,v1353834276,11.60,7.37,NaN,NaN,NaN,2
7,2017-01,Canada,2016A000011124,"Pork shoulder cuts, per kilogram",Dollars,81,units,0,v1353834312,11.42,4.76,NaN,NaN,NaN,2
8,2017-01,Canada,2016A000011124,"Whole chicken, per kilogram",Dollars,81,units,0,v1353834277,11.70,5.15,NaN,NaN,NaN,2
9,2017-01,Canada,2016A000011124,"Chicken breasts, per kilogram",Dollars,81,units,0,v1353834278,11.80,11.38,NaN,NaN,NaN,2

In [133]:
df.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Products', 'UOM', 'UOM_ID',
       'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR', 'COORDINATE', 'VALUE', 'STATUS',
       'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [134]:
df = df[['REF_DATE', 'GEO', 'Products', 'VALUE','UOM' ]]
df.head(10)

  REF_DATE     GEO                             Products  VALUE      UOM
0  2017-01  Canada      Beef stewing cuts, per kilogram  12.66  Dollars
1  2017-01  Canada    Beef striploin cuts, per kilogram  21.94  Dollars
2  2017-01  Canada  Beef top sirloin cuts, per kilogram  13.44  Dollars
3  2017-01  Canada          Beef rib cuts, per kilogram  20.17  Dollars
4  2017-01  Canada            Ground beef, per kilogram   9.12  Dollars
5  2017-01  Canada         Pork loin cuts, per kilogram   7.34  Dollars
6  2017-01  Canada          Pork rib cuts, per kilogram   7.37  Dollars
7  2017-01  Canada     Pork shoulder cuts, per kilogram   4.76  Dollars
8  2017-01  Canada          Whole chicken, per kilogram   5.15  Dollars
9  2017-01  Canada        Chicken breasts, per kilogram  11.38  Dollars

In [135]:
df.isnull().values.any()

False

In [136]:
df= df.rename(columns = {'GEO' : 'Location'})
df.dtypes

REF_DATE     object
Location     object
Products     object
VALUE       float64
UOM          object
dtype: object

In [137]:
df['Products Name'] = df['Products'].astype('string').str.split(',').str[0]

df['Amount'] = df['Products'].astype('string').str.split(',').str[1]

df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount
8625,2017-08,Newfoundland and Labrador,"Romaine lettuce, unit",2.30,Dollars,Romaine lettuce,unit
60118,2021-02,Manitoba,"Shampoo, 400 millilitres",5.04,Dollars,Shampoo,400 millilitres
40586,2019-10,Ontario,"Apples, per kilogram",3.64,Dollars,Apples,per kilogram
64123,2021-06,Canada,"Carrots, 1.36 kilograms",3.67,Dollars,Carrots,1.36 kilograms
12969,2017-11,Saskatchewan,"Beef stewing cuts, per kilogram",12.65,Dollars,Beef stewing cuts,per kilogram
65294,2021-07,Canada,"Whole chicken, per kilogram",6.43,Dollars,Whole chicken,per kilogram
60944,2021-03,New Brunswick,"Peppers, per kilogram",8.18,Dollars,Peppers,per kilogram
53595,2020-09,Nova Scotia,"Cookies and sweet biscuits, 300 grams",3.03,Dollars,Cookies and sweet biscuits,300 grams
22757,2018-07,Alberta,"Pork rib cuts, per kilogram",8.22,Dollars,Pork rib cuts,per kilogram
18146,2018-04,Canada,"Chicken drumsticks, per kilogram",5.68,Dollars,Chicken drumsticks,per kilogram

In [138]:
df['Quantity'] = df['Amount'].astype('string').str.replace('per', '1')
df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity
85600,2022-11,Saskatchewan,"Canned soup, 284 millilitres",1.74,Dollars,Canned soup,284 millilitres,284 millilitres
88379,2023-02,Newfoundland and Labrador,"Bacon, 500 grams",6.64,Dollars,Bacon,500 grams,500 grams
87087,2023-01,Canada,"Strawberries, 454 grams",4.60,Dollars,Strawberries,454 grams,454 grams
86141,2022-12,Prince Edward Island,"Canola oil, 3 litres",16.81,Dollars,Canola oil,3 litres,3 litres
58972,2021-01,Saskatchewan,"Frozen corn, 750 grams",2.77,Dollars,Frozen corn,750 grams,750 grams
87149,2023-01,Canada,"Pasta sauce, 650 millilitres",3.08,Dollars,Pasta sauce,650 millilitres,650 millilitres
17929,2018-03,Alberta,"Salmon, per kilogram",22.58,Dollars,Salmon,per kilogram,1 kilogram
81190,2022-08,Newfoundland and Labrador,"Orange juice, 2 litres",4.57,Dollars,Orange juice,2 litres,2 litres
101024,2023-12,Ontario,"Meatless burgers, 226 grams",5.99,Dollars,Meatless burgers,226 grams,226 grams
75328,2022-03,Nova Scotia,"Potatoes, 4.54 kilograms",3.94,Dollars,Potatoes,4.54 kilograms,4.54 kilograms

In [139]:
df['Year'] = df['REF_DATE'].astype('string').str.split('-').str[0]
df['Month'] = df['REF_DATE'].astype('string').str.split('-').str[1]
df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity,Year,Month
96181,2023-08,Ontario,"Chicken drumsticks, per kilogram",7.25,Dollars,Chicken drumsticks,per kilogram,1 kilogram,2023,08
102828,2024-02,Canada,"Frozen peas, 750 grams",3.67,Dollars,Frozen peas,750 grams,750 grams,2024,02
72615,2022-01,Canada,"Wheat flour, 2.5 kilograms",4.80,Dollars,Wheat flour,2.5 kilograms,2.5 kilograms,2022,01
65537,2021-07,Prince Edward Island,"Oranges, 1.36 kilograms",5.73,Dollars,Oranges,1.36 kilograms,1.36 kilograms,2021,07
38716,2019-09,Canada,"Yogurt, 500 grams",2.62,Dollars,Yogurt,500 grams,500 grams,2019,09
69077,2021-10,Newfoundland and Labrador,"Peppers, per kilogram",7.93,Dollars,Peppers,per kilogram,1 kilogram,2021,10
18870,2018-04,Ontario,"White sugar, 2 kilograms",2.02,Dollars,White sugar,2 kilograms,2 kilograms,2018,04
72060,2021-12,Ontario,"Cookies and sweet biscuits, 300 grams",2.53,Dollars,Cookies and sweet biscuits,300 grams,300 grams,2021,12
75728,2022-03,Manitoba,"Beef striploin cuts, per kilogram",32.29,Dollars,Beef striploin cuts,per kilogram,1 kilogram,2022,03
23347,2018-08,Nova Scotia,"Onions, per kilogram",5.01,Dollars,Onions,per kilogram,1 kilogram,2018,08

In [140]:
df_check = df.loc[df['Products Name']=='Milk']
df_check.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity,Year,Month
28595,2018-12,Manitoba,"Milk, 1 litre",1.67,Dollars,Milk,1 litre,1 litre,2018,12
35960,2019-06,Saskatchewan,"Milk, 2 litres",3.98,Dollars,Milk,2 litres,2 litres,2019,06
29255,2019-01,Prince Edward Island,"Milk, 2 litres",3.68,Dollars,Milk,2 litres,2 litres,2019,01
29475,2019-01,New Brunswick,"Milk, 2 litres",3.81,Dollars,Milk,2 litres,2 litres,2019,01
45963,2020-03,Canada,"Milk, 4 litres",5.39,Dollars,Milk,4 litres,4 litres,2020,03
38158,2019-08,Ontario,"Milk, 2 litres",4.57,Dollars,Milk,2 litres,2 litres,2019,08
32443,2019-03,Alberta,"Milk, 2 litres",4.09,Dollars,Milk,2 litres,2 litres,2019,03
66405,2021-07,British Columbia,"Milk, 2 litres",4.43,Dollars,Milk,2 litres,2 litres,2021,07
5845,2017-05,Alberta,"Milk, 2 litres",3.90,Dollars,Milk,2 litres,2 litres,2017,05
86848,2022-12,Alberta,"Milk, 2 litres",4.95,Dollars,Milk,2 litres,2 litres,2022,12

In [141]:
df['Month'] = df['Month'].astype(int).apply(lambda x: calendar.month_abbr[x])

In [142]:
df.dtypes

REF_DATE                 object
Location                 object
Products                 object
VALUE                   float64
UOM                      object
Products Name            object
Amount                   object
Quantity         string[python]
Year                     object
Month                    object
dtype: object

In [143]:
unique_products = df['Products Name'].unique()
print(unique_products)
print(len(unique_products))

['Beef stewing cuts' 'Beef striploin cuts' 'Beef top sirloin cuts'
 'Beef rib cuts' 'Ground beef' 'Pork loin cuts' 'Pork rib cuts'
 'Pork shoulder cuts' 'Whole chicken' 'Chicken breasts' 'Chicken thigh'
 'Chicken drumsticks' 'Bacon' 'Wieners' 'Salmon' 'Shrimp' 'Canned salmon'
 'Canned tuna' 'Meatless burgers' 'Milk' 'Soy milk' 'Nut milk' 'Cream'
 'Butter' 'Margarine' 'Block cheese' 'Yogurt' 'Eggs' 'Apples' 'Oranges'
 'Bananas' 'Pears' 'Lemons' 'Limes' 'Grapes' 'Cantaloupe' 'Strawberries'
 'Avocado' 'Potatoes' 'Sweet potatoes' 'Tomatoes' 'Cabbage' 'Carrots'
 'Onions' 'Celery' 'Cucumber' 'Mushrooms' 'Iceberg lettuce'
 'Romaine lettuce' 'Broccoli' 'Peppers' 'Squash' 'Salad greens'
 'Frozen french fried potatoes' 'Frozen green beans' 'Frozen broccoli'
 'Frozen corn' 'Frozen mixed vegetables' 'Frozen peas' 'Frozen pizza'
 'Frozen spinach' 'Frozen strawberries' 'White bread' 'Flatbread and pita'
 'Crackers and crisp breads' 'Cookies and sweet biscuits'
 'Dry or fresh pasta' 'Brown rice' 'White rice' 'Cereal' 'Wheat flour'
 'White sugar' 'Apple juice' 'Orange juice' 'Roasted or ground coffee'
 'Tea (20 bags)' 'Ketchup' 'Vegetable oil' 'Canola oil' 'Olive oil'
 'Baby food' 'Infant formula' 'Peanut butter' 'Mayonnaise'
 'Canned baked beans' 'Canned tomatoes' 'Canned soup'
 'Canned beans and lentils' 'Canned corn' 'Canned peach' 'Canned pear'
 'Dried lentils' 'Dry beans and legumes' 'Tofu' 'Hummus' 'Salsa'
 'Pasta sauce' 'Salad dressing' 'Almonds' 'Peanuts' 'Sunflower seeds'
 'Deodorant' 'Toothpaste' 'Shampoo' 'Laundry detergent']
105

In [144]:
# define conditions
conditions =[
df['Products Name'].isin(['Beef stewing cuts' ,'Beef striploin cuts' ,'Beef top sirloin cuts',
 'Beef rib cuts', 'Ground beef' ,'Pork loin cuts', 'Pork rib cuts',
 'Pork shoulder cuts' ,'Whole chicken', 'Chicken breasts', 'Chicken thigh',
 'Chicken drumsticks', 'Bacon' ,'Wieners', 'Salmon' ,'Shrimp' ,'Canned salmon',
 'Canned tuna' ,'Meatless burgers']) ,

df['Products Name'].isin(['Milk' ,'Soy milk' ,'Nut milk' ,'Cream',
 'Butter', 'Margarine', 'Block cheese' ,'Yogurt', 'Eggs']),

df['Products Name'].isin(['Apples' ,'Oranges',
 'Bananas' ,'Pears', 'Lemons', 'Limes', 'Grapes' ,'Cantaloupe', 'Strawberries',
 'Avocado', 'Potatoes', 'Sweet potatoes', 'Tomatoes', 'Cabbage' ,'Carrots',
 'Onions' ,'Celery' ,'Cucumber', 'Mushrooms', 'Iceberg lettuce',
 'Romaine lettuce', 'Broccoli', 'Peppers' ,'Squash', 'Salad greens',
 'Frozen french fried potatoes', 'Frozen green beans', 'Frozen broccoli',
 'Frozen corn' ,'Frozen mixed vegetables', 'Frozen peas' ,'Frozen pizza',
 'Frozen spinach', 'Frozen strawberries' ]),

df['Products Name'].isin(['White bread','Flatbread and pita',
 'Crackers and crisp breads', 'Cookies and sweet biscuits',
 'Dry or fresh pasta', 'Brown rice' ,'White rice' ,'Cereal' ,'Wheat flour',
 'White sugar' ,'Apple juice' ,'Orange juice', 'Roasted or ground coffee',
 'Tea (20 bags)', 'Ketchup', 'Vegetable oil' ,'Canola oil' ,'Olive oil',
 'Peanut butter', 'Mayonnaise','Canned baked beans' ,'Canned tomatoes', 'Canned soup',
 'Canned beans and lentils', 'Canned corn' ,'Canned peach', 'Canned pear',
 'Dried lentils', 'Dry beans and legumes', 'Tofu', 'Hummus', 'Salsa',
 'Pasta sauce', 'Salad dressing', 'Almonds' ,'Peanuts' ,'Sunflower seeds']),

df['Products Name'].isin(['Deodorant', 'Toothpaste', 'Shampoo' ,'Laundry detergent','Baby food' , 'Infant formula'])

]

# define results
results = ['Meat & Seafood', 'Dairy & Eggs', 'Fruits & Vegetables','Pantry','Home,Beauty & Baby']

df['Category'] = np.select(conditions,results)

In [145]:
df.sample(10)

,REF_DATE,Location,Products,VALUE,UOM,Products Name,Amount,Quantity,Year,Month,Category
88307,2023-02,Canada,"Cucumber, unit",2.37,Dollars,Cucumber,unit,unit,2023,Feb,Fruits & Vegetables
48504,2020-05,Newfoundland and Labrador,"Lemons, unit",1.10,Dollars,Lemons,unit,unit,2020,May,Fruits & Vegetables
51323,2020-07,New Brunswick,"Deodorant, 85 grams",5.32,Dollars,Deodorant,85 grams,85 grams,2020,Jul,"Home,Beauty & Baby"
92903,2023-05,Alberta,"Apples, per kilogram",6.09,Dollars,Apples,per kilogram,1 kilogram,2023,May,Fruits & Vegetables
55288,2020-10,Saskatchewan,"Ground beef, per kilogram",8.66,Dollars,Ground beef,per kilogram,1 kilogram,2020,Oct,Meat & Seafood
81452,2022-08,New Brunswick,"Chicken thigh, per kilogram",8.16,Dollars,Chicken thigh,per kilogram,1 kilogram,2022,Aug,Meat & Seafood
1782,2017-02,Quebec,"Cream, 1 litre",3.83,Dollars,Cream,1 litre,1 litre,2017,Feb,Dairy & Eggs
77011,2022-04,Manitoba,"Wheat flour, 2.5 kilograms",5.10,Dollars,Wheat flour,2.5 kilograms,2.5 kilograms,2022,Apr,Pantry
72257,2021-12,Saskatchewan,"Onions, per kilogram",4.28,Dollars,Onions,per kilogram,1 kilogram,2021,Dec,Fruits & Vegetables
13346,2017-12,Canada,"Onions, per kilogram",3.71,Dollars,Onions,per kilogram,1 kilogram,2017,Dec,Fruits & Vegetables

In [146]:
df.columns

Index(['REF_DATE', 'Location', 'Products', 'VALUE', 'UOM', 'Products Name',
       'Amount', 'Quantity', 'Year', 'Month', 'Category'],
      dtype='object')

In [147]:
df = df[['Year', 'Month','Location','Category','Products Name','Quantity','VALUE']]

In [148]:
df['Products Name'] = df['Products Name'].replace('Tea (20 bags)','Tea')
df['Quantity'] = df['Quantity'].fillna(' unit')

In [149]:
value = df['Quantity'].unique()
print(value)

<StringArray>
[      ' 1 kilogram',        ' 500 grams',        ' 400 grams',
        ' 300 grams',        ' 213 grams',        ' 170 grams',
        ' 226 grams',          ' 1 litre',         ' 2 litres',
         ' 4 litres',      ' 1.89 litres',        ' 454 grams',
        ' 907 grams',          ' 1 dozen',   ' 1.36 kilograms',
             ' unit',   ' 4.54 kilograms',        ' 227 grams',
        ' 142 grams',        ' 750 grams',       ' 750 grams ',
        ' 390 grams',        ' 600 grams',        ' 675 grams',
       ' 500 grams ',       ' 200 grams ',       ' 300 grams ',
       ' 900 grams ',      ' 2 kilograms',    ' 2.5 kilograms',
        ' 340 grams',         ' 3 litres',  ' 128 millilitres',
 ' 890 millilitres ',  ' 398 millilitres',  ' 796 millilitres',
  ' 284 millilitres',  ' 540 millilitres',  ' 341 millilitres',
        ' 900 grams',       ' 350 grams ',  ' 418 millilitres',
  ' 650 millilitres',  ' 475 millilitres',        ' 200 grams',
        ' 450 grams',       ' 400 grams ',         ' 85 grams',
  ' 100 millilitres',  ' 400 millilitres',      ' 4.43 litres']
Length: 51, dtype: string

In [150]:

df['Year'] = df['Year'].astype(int)
df.sample(10)

,Year,Month,Location,Category,Products Name,Quantity,VALUE
25625,2018,Oct,Prince Edward Island,Meat & Seafood,Canned tuna,170 grams,1.78
98084,2023,Oct,Newfoundland and Labrador,Fruits & Vegetables,Carrots,1.36 kilograms,3.20
80579,2022,Jul,Manitoba,Meat & Seafood,Canned salmon,213 grams,4.66
72245,2021,Dec,Saskatchewan,Fruits & Vegetables,Lemons,unit,0.94
25880,2018,Oct,New Brunswick,Fruits & Vegetables,Iceberg lettuce,unit,2.24
85722,2022,Nov,Alberta,Pantry,Almonds,200 grams,4.88
34068,2019,May,Newfoundland and Labrador,"Home,Beauty & Baby",Toothpaste,100 millilitres,3.03
33555,2019,Apr,Saskatchewan,Fruits & Vegetables,Bananas,1 kilogram,1.69
23968,2018,Aug,Alberta,Meat & Seafood,Whole chicken,1 kilogram,6.46
80278,2022,Jul,New Brunswick,Fruits & Vegetables,Cabbage,1 kilogram,2.83

In [151]:
df = df[df['Location']!='Canada']
df['Country'] = 'Canada'

In [152]:
df.head(10)

,Year,Month,Location,Category,Products Name,Quantity,VALUE,Country
110,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef stewing cuts,1 kilogram,13.57,Canada
111,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef striploin cuts,1 kilogram,16.51,Canada
112,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef top sirloin cuts,1 kilogram,12.09,Canada
113,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef rib cuts,1 kilogram,24.63,Canada
114,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Ground beef,1 kilogram,8.13,Canada
115,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Pork loin cuts,1 kilogram,5.92,Canada
116,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Pork rib cuts,1 kilogram,5.88,Canada
117,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Pork shoulder cuts,1 kilogram,6.01,Canada
118,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Whole chicken,1 kilogram,5.76,Canada
119,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Chicken breasts,1 kilogram,12.05,Canada

In [153]:
# Get the unique categories and locations in separate lists.
categories = df["Category"].unique()
Locations = df["Location"].unique()
Products =df['Products Name'].unique()


print(categories)
print(Locations)
print(len(categories))
print(len(Locations))
print(len(Products))

['Meat & Seafood' 'Dairy & Eggs' 'Fruits & Vegetables' 'Pantry'
 'Home,Beauty & Baby']
['Newfoundland and Labrador' 'Prince Edward Island' 'Nova Scotia'
 'New Brunswick' 'Quebec' 'Ontario' 'Manitoba' 'Saskatchewan' 'Alberta'
 'British Columbia']
5
10
105

In [154]:
# Create numpy arrays from 1-6 for the categories and 1-12 for the locations
category_ids = np.arange(1, 6)
Locations_ids = np.arange(1, 11)
Product_ids = np.arange(1,106)
print(category_ids)
print(Locations_ids)

[1 2 3 4 5]
[ 1  2  3  4  5  6  7  8  9 10]

In [155]:
Time_df = df[["Year", "Month"]]
Time_df.head()

     Year Month
110  2017   Jan
111  2017   Jan
112  2017   Jan
113  2017   Jan
114  2017   Jan

In [156]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ['cat' + str(each) for each in category_ids]
print(cat_ids)
# Use a list comprehension to add "subcat" to each subcategory_id.    
loc_ids = ['loc' + str(each) for each in Locations_ids]
print(loc_ids)
pro_ids = ['pro' + str(each) for each in Product_ids]

['cat1', 'cat2', 'cat3', 'cat4', 'cat5']
['loc1', 'loc2', 'loc3', 'loc4', 'loc5', 'loc6', 'loc7', 'loc8', 'loc9', 'loc10']

In [157]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({"category_id" : cat_ids , 'Category' : categories})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
Location_df = pd.DataFrame({"Location_id" : loc_ids , 'Location' : Locations})
Products_df = pd.DataFrame({"Products_id" : pro_ids , 'Products Name' : Products})

In [158]:
category_df

  category_id             Category
0        cat1       Meat & Seafood
1        cat2         Dairy & Eggs
2        cat3  Fruits & Vegetables
3        cat4               Pantry
4        cat5   Home,Beauty & Baby

In [159]:
Location_df

  Location_id                   Location
0        loc1  Newfoundland and Labrador
1        loc2       Prince Edward Island
2        loc3                Nova Scotia
3        loc4              New Brunswick
4        loc5                     Quebec
5        loc6                    Ontario
6        loc7                   Manitoba
7        loc8               Saskatchewan
8        loc9                    Alberta
9       loc10           British Columbia

In [160]:
Products_df

    Products_id          Products Name
0          pro1      Beef stewing cuts
1          pro2    Beef striploin cuts
2          pro3  Beef top sirloin cuts
3          pro4          Beef rib cuts
4          pro5            Ground beef
..          ...                    ...
100      pro101        Sunflower seeds
101      pro102              Deodorant
102      pro103             Toothpaste
103      pro104                Shampoo
104      pro105      Laundry detergent

[105 rows x 2 columns]

In [161]:
# Export  as CSV files.
category_df.to_csv("category.csv", index=False)

Location_df.to_csv("Locations.csv", index=False)

Products_df.to_csv('Products.csv',index = False)

In [162]:
merged_df = pd.merge(df,category_df, on = 'Category' , how = 'left')
merged_df = pd.merge(merged_df,Location_df, on = 'Location' , how = 'left')
merged_df = pd.merge(merged_df,Products_df, on = 'Products Name' , how = 'left')
merged_df.head(10)

,Year,Month,Location,Category,Products Name,Quantity,VALUE,Country,category_id,Location_id,Products_id
0,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef stewing cuts,1 kilogram,13.57,Canada,cat1,loc1,pro1
1,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef striploin cuts,1 kilogram,16.51,Canada,cat1,loc1,pro2
2,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef top sirloin cuts,1 kilogram,12.09,Canada,cat1,loc1,pro3
3,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Beef rib cuts,1 kilogram,24.63,Canada,cat1,loc1,pro4
4,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Ground beef,1 kilogram,8.13,Canada,cat1,loc1,pro5
5,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Pork loin cuts,1 kilogram,5.92,Canada,cat1,loc1,pro6
6,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Pork rib cuts,1 kilogram,5.88,Canada,cat1,loc1,pro7
7,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Pork shoulder cuts,1 kilogram,6.01,Canada,cat1,loc1,pro8
8,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Whole chicken,1 kilogram,5.76,Canada,cat1,loc1,pro9
9,2017,Jan,Newfoundland and Labrador,Meat & Seafood,Chicken breasts,1 kilogram,12.05,Canada,cat1,loc1,pro10

In [163]:
merged_df.columns

Index(['Year', 'Month', 'Location', 'Category', 'Products Name', 'Quantity',
       'VALUE', 'Country', 'category_id', 'Location_id', 'Products_id'],
      dtype='object')

In [164]:
merged_df= merged_df[['Year', 'Month', 'Quantity',
       'VALUE', 'category_id', 'Location_id','Products_id']]

In [165]:
length_df = (len(merged_df))
print(length_df)

95613

In [166]:
# Create unique ids 
ID = np.arange(1, length_df + 1)
#primary_id = ['p_' + str(each) for each in ID]
#print(Rental_id)
merged_df["ID"] = ID

In [167]:
merged_df.columns

Index(['Year', 'Month', 'Quantity', 'VALUE', 'category_id', 'Location_id',
       'Products_id', 'ID'],
      dtype='object')

In [168]:

merged_df =merged_df[['ID','Year', 'Month', 'Quantity', 'VALUE', 'category_id','Location_id','Products_id']]
merged_df.sample(20)

,ID,Year,Month,Quantity,VALUE,category_id,Location_id,Products_id
81161,81162,2023,Feb,1 kilogram,9.10,cat3,loc9,pro51
82101,82102,2023,Mar,1 kilogram,9.16,cat1,loc8,pro7
82497,82498,2023,Apr,2 kilograms,11.61,cat4,loc1,pro69
40370,40371,2020,Jan,1 kilogram,6.94,cat3,loc8,pro35
40826,40827,2020,Feb,unit,2.96,cat3,loc2,pro50
36505,36506,2019,Oct,1 litre,2.58,cat2,loc3,pro20
19309,19310,2018,Jun,2 litres,2.59,cat4,loc6,pro73
10406,10407,2017,Oct,2 kilograms,2.55,cat4,loc5,pro72
49001,49002,2020,Sep,900 grams,3.04,cat4,loc6,pro92
27901,27902,2019,Feb,900 grams,3.54,cat4,loc4,pro93
20065,20066,2018,Jul,390 grams,4.29,cat3,loc3,pro60
75838,75839,2022,Oct,1 kilogram,7.90,cat1,loc1,pro8
66156,66157,2022,Jan,100 millilitres,3.57,cat5,loc2,pro103
29620,29621,2019,Mar,142 grams,4.45,cat3,loc10,pro53
34066,34067,2019,Jul,100 millilitres,3.07,cat5,loc10,pro103
7223,7224,2017,Jul,unit,3.36,cat4,loc6,pro76
76677,76678,2022,Oct,2 litres,3.18,cat4,loc8,pro73
27978,27979,2019,Feb,390 grams,3.91,cat3,loc5,pro60
89205,89206,2023,Oct,2 litres,4.20,cat4,loc2,pro73
86330,86331,2023,Jul,750 grams,3.90,cat3,loc6,pro55

In [169]:
# Export the DataFrame as a CSV file. 
merged_df.to_csv("dataset.csv", index=False)